[defaults]
inventory = ./inventory/devboxes.yml
roles_path = ./roles
host_key_checking = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_hetzner_proxy_devbox_facts
fact_caching_timeout = 3600
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new

[privilege_escalation]
become = True
become_method = sudo
become_user = root
